<div class="row">
  <div class="col-12 my-3">
    <h5 [translate]="'Admin.Groups.Title'"></h5>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <app-advanced-table-search [(filter)]="filter" [collapsed]="true" [showMore]="false" [table]="groups">
    </app-advanced-table-search>
  </div>
</div>
<div class="row">
  <div class="col-12 mb-4">
    <app-advanced-table #groups [config]="groups.config"></app-advanced-table>
  </div>
</div>
